@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

.App {
  text-align: center;
  background-color: #111;
  color: #D9D0AE
}
/* 
background-color: ca3438 */

h1{
  font-family: 'Noto Sans JP', sans-serif;
}

.boton{
  padding: .5rem 1rem;
  background-color: #ca3438;
  color: #D9D0AE;
  border: 1px solid  #ca3438;
  border-radius: 24px;
}
.boton-outline{
  padding: .5rem 1rem;
  color: #ca3438;
  background-color: transparent;
  border: 1px solid  #ca3438;
  border-radius: 24px;
}


